@font-face {
    font-family: 'Wix-Made';
    font-weight: 400;
    src: url('./../fonts/WixMadeforDisplay-Regular.ttf');
}
@font-face {
    font-family: 'Wix-Made';
    font-weight: 500;
    src: url('./../fonts/WixMadeforDisplay-Medium.ttf');
}
@font-face {
    font-family: 'Wix-Made';
    font-weight: 600;
    src: url('./../fonts/WixMadeforDisplay-SemiBold.ttf');
}
@font-face {
    font-family: 'Wix-Made';
    font-weight: 700;
    src: url('./../fonts/WixMadeforDisplay-Bold.ttf');
}
@font-face {
    font-family: 'Wix-Made';
    font-weight: 800;
    src: url('./../fonts/WixMadeforDisplay-ExtraBold.ttf');
}
